body {
    margin: 0px;
    padding: 0px;
    background: url('images/bg.jpg');
    box-sizing: border-box;
    color: aliceblue;
}

.header {
    margin: 0px;
    padding: 0px;
}

.left {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 20%;
}

.left img {
    filter: invert(100%);
    padding-right: 200px;
    margin-top: -70px;
    margin-left: -40px;
    position: absolute;
    top: 1px;
    left: 4px;
    float: left;
}

.brand {
    color: aliceblue;
    font-weight: bold;
}

.brand p {
    margin-top: 65px;
    margin-left: 12px;

}

.mid {
    margin: auto;
    width: 30%;
}

.navbar li {
    float: left;
    display: block;
    width: 80px;
}

.navbar li a {
    text-decoration: none;
    color: rgb(221, 172, 107);
    font-size: 1.3em;
}

.navbar li a:hover,
.navbar li a.active {
    color: white;
    border-bottom: 1px solid whitesmoke;
}

.right {

    float: right;
    width: 15%;
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: center;
}

.btn {

    border-radius: 10px;
    padding: 1px 8px;
    color: gray;
    background-color: whitesmoke;
    box-shadow: 2px 2px 0px;
    font-weight: 1000;
}

.btn:hover {
    color: white;
    background-color: grey;
    cursor: pointer;
}

.section {
    border: 3px solid white;
    width: 40%;
    position: relative;
    top: 200px;
    left: 30px;
    border-radius: 15px;
}

.section h1 {
    text-align: center;
    font-size: 40px;
}

.form-group input {
    width: 20em;
    padding: 4px 0px 4px 15px;
    margin: 5px 50px;
    border-radius: 10px;
    font-size: 20px;
}

.section button {
    width: 21em;
    font-size: 20px;
    box-shadow: none;
    margin: 8px 50px;
    background-color: black;
    color: whitesmoke;
}